<section class="leftSidebar active">
    <ul>
        <li class="navigation btnConsuntivazione">
            <div>Consuntivazione</div>
        </li>
        <li class="navigation btnAmministrazione">
            <div>Amministrazione <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
            <ul class="subSection">
                <li class="active">Gestione clienti</li>
                <li class="deactive">Gestione utenti</li>
                <li class="deactive">Gestione attività</li>
                <li class="deactive">Gestione commesse cliente</li>
                <li class="deactive">Gestione commesse Fincons</li>
                <li class="deactive">Gestione ambiti</li>
            </ul>
        </li>
        <li class="navigation btnReportistica">
            <div>Reportistica</div>
        </li>
    </ul>
</section>