<section class="containerAttivita">

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="30" placeholder="Filtra attivita">
    </div>
    <p-dataTable #dt [value]="activities" emptyMessage="Nessuna attivita trovata" scrollable="true"
        selectionMode="single" [paginator]="true" [rows]="8" [globalFilter]="gb" responsive="true">
        <p-header>
            <div>
                <label style="vertical-align: middle;text-align: center;">Lista Attivita</label>
                <button style="float: left;" type="button" pButton (click)=addNewActivity() label="Aggiungi Attivita"></button>
            </div>
        </p-header>
        <p-column header="Azioni" visible="true" StyleClass="editable_col">
            <ng-template let-row="rowData" let-index="rowIndex" pTemplate="user">
                <span style="display: inline-block;">
                    <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="editRow(row, index)"></i>   
                    <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="deleteRow(row, index)"></i>
                </span>
            </ng-template>
        </p-column>
        <p-column field="nome_cliente" header="Cliente" [sortable]="true">

        </p-column>
        <p-column field="nome_ambito" header="Ambito" [sortable]="true">

        </p-column>
        <p-column field="nome_macro_area" header="Macro Area" [sortable]="true">
        </p-column>
        <p-column field="nome_attivita" header="Nome Attivita" [sortable]="true"></p-column>
        <p-column field="nome_commessa_cliente" header="Cod. commessa" [sortable]="true"></p-column>
        <p-column field="codice_attivita" header="Cod. Attivita" [sortable]="true"></p-column>
        <p-column field="nome_stato" header="Stato">
        </p-column>
        <p-column field="data_inizio_validita" header="Data Inizio" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.data_inizio_validita | date:'dd/MM/yy'}}
            </ng-template>
        </p-column>
        <p-column field="data_fine_validita" header="Data Fine" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.data_fine_validita | date:'dd/MM/yy'}}
            </ng-template>
        </p-column>
        <p-column field="budget_gg" header="Budget giorni" [sortable]="true"></p-column>
        <p-column field="budget_euro" header="Budget euro" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.budget_euro}} €
            </ng-template>
        </p-column>
        <!-- <p-column field="descrizione" header="Descrizione" [sortable]="true"></p-column> -->
        <p-column field="id_commessa_fnc" header="Commessa Fincons" [sortable]="true"></p-column>

    </p-dataTable>


    <p-dialog id="dialog" [(header)]="headerAttivita" [(visible)]="displayDialog" modal="true" responsive="true" appendTo="body"
        scrollable="true" >
        <form [formGroup]="activityForm" (ngSubmit)="checkForm(activityForm) && saveNew()" novalidate>
            <div class="halfWidth noPaddingLeft">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                        <!-- color:#d6d6d6"-->
                            <label for="cliente" [ngStyle]="{'color': isValid('cliente')}" style="top: -.60em;font-size:12px;" >Cliente</label>
                        </span>
                        <p-dropdown id="cliente" formControlName="cliente" [options]="lst_clienti" [style]="{'width':'100%'}" placeholder="Seleziona cliente"
                            [(ngModel)]="newActivity.id_cliente" (onChange)="selectFromCliente('ambito')">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="ambito" [ngStyle]="{'color': isValid('ambito')}" style="top: -.60em;font-size:12px;">Ambito</label>
                        </span>
                        <p-dropdown id="ambito" formControlName="ambito" [options]="lst_ambiti" [style]="{'width':'100%'}" placeholder="Seleziona ambito"
                            [(ngModel)]="newActivity.id_ambito" (onChange)="selectFromCliente('commessa_cliente')" [disabled]="isDisabled('ambito')">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="macro_area" [ngStyle]="{'color': isValid('macro_area')}" style="top: -.60em;font-size:12px;">Macro Area</label>
                        </span>
                        <p-dropdown id="macro_area" formControlName="macro_area" [options]="lst_macro_aree" [style]="{'width':'100%'}" placeholder="Seleziona macro area"
                            [(ngModel)]="newActivity.id_macro_area" [disabled]="isDisabled('macroArea')">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input id="nome_attivita" formControlName="nome_attivita" type="text" pInputText [(ngModel)]="newActivity.nome_attivita">
                            <label for="nome_attivita" [ngStyle]="{'color': isValid('nome_attivita')}">Nome attività</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="commessa_cliente" [ngStyle]="{'color': isValid('commessa_cliente')}" style="top: -.60em;font-size:12px;">Commessa Cliente</label>
                        </span>
                        <p-dropdown id="commessa_cliente" formControlName="commessa_cliente" [options]="lst_commesse_clienti" [style]="{'width':'100%'}"
                            placeholder="Seleziona Commessa Cliente" [(ngModel)]="newActivity.id_commessa_cliente" [disabled]="isDisabled('commessaCliente')">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input id="cod_attivita" formControlName="cod_attivita" type="text" pInputText [(ngModel)]="newActivity.codice_attivita">
                            <label for="cod_attivita" [ngStyle]="{'color': isValid('cod_attivita')}">Cod. Attività</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="halfWidth noPaddingRight">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="stato" [ngStyle]="{'color': isValid('stato')}" style="top: -.60em;font-size:12px;">Stato Attività</label>
                        </span>
                        <p-dropdown id="stato" formControlName="stato" [options]="lst_stati" [style]="{'width':'100%'}" placeholder="Seleziona Stato Attività"
                            [(ngModel)]="newActivity.stato_attivita">
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <p-calendar id="data_inizio" formControlName="data_inizio" [(ngModel)]="newActivity.data_inizio_validita" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
                            <label for="data_inizio" [ngStyle]="{'color': isValid('data_inizio')}">Data Inizio Validità (dd/mm/aaaa)</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <p-calendar id="data_fine" formControlName="data_fine" [minDate]="newActivity.data_inizio_validita" [(ngModel)]="newActivity.data_fine_validita" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
                            <label for="data_fine" [ngStyle]="{'color': isValid('data_fine')}">Data Fine Validità (dd/mm/aaaa)</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="number" id="budget_gg" [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="newActivity.budget_gg">
                            <label for="budget_gg">Budget giorni</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="number" step="0.5" id="budget_euro" [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="newActivity.budget_euro">
                            <label for="budget_euro" >Budget euro</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="descrizione" style="top: -.60em;font-size:12px; color:#d6d6d6">Descrizione</label>
                        </span>
                        <textarea rows="3" cols="30" pInputTextarea [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [(ngModel)]="newActivity.descrizione">
                        </textarea>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane">
                    <button pButton type="submit" label="Salva"></button>
                    <button pButton type="button" (click)="abortNew()" label="Annulla"></button>
                </div>
            </p-footer>
        </form>
    </p-dialog>

    <p-confirmDialog acceptLabel="Elimina" rejectLabel="Annulla" appendTo="body"></p-confirmDialog>

</section>