 :host /deep/ .ui-datatable .ui-datatable-thead > tr > th {
    height: 30px;
    font-size: 10px;
    text-align: center;
    word-wrap: normal;
}
:host /deep/ .ui-datatable .ui-datatable-data > tr > td {
    height: 40px;
    font-size: 10px;
    text-align: center;
}
.inputDay {
    width: 12px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0rem !important;
    padding: 0rem 0rem !important;
}
:host /deep/ .fixed .ui-datatable-scrollable-view{
    float: none!important;
} 

:host /deep/ .ui-datatable thead th {
    word-wrap: break-word;
    }

:host /deep/ input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0; 
}

/*per firefox > 57*/
:host /deep/ input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0; 
}