<p-dataTable emptyMessage="Nessuna attività da consuntivare" [value]="consuntivi" scrollable="true" frozenWidth="470px" unfrozenWidth="calc( 100% - 470px)" columnResizeMode="fit"
    [style]="{'margin-top':'30px'}">

    <p-header>
        <div>
            <label style="vertical-align: middle;text-align: center;">{{monthSelected}}/{{yearSelected}}</label>
            <button style="float: left;" pButton (click)=showDialogToAdd() label="Aggiungi Attività"></button>
        </div>
    </p-header>
    <p-column field="isEditable" header="Azioni" frozen="true" [editable]="isEditable" styleClass="editable_col">
        <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
            <span *ngIf="!row.isEditable">
                <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="edit(row,index)"></i>
                <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="delete(row,index)"></i>
            </span>
            <span *ngIf="row.isEditable">
                <i class="fa fa-floppy-o conferma" aria-hidden="true" (click)="saveEdit(row,index)"></i>
                <i class="fa fa-minus annulla" aria-hidden="true" (click)="abortEdit(row,index)"></i>
            </span>
        </ng-template>
    </p-column>

    <p-column frozen="true" header="Cliente/Ambito/Area" [editable]="isEditable">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row.nome_cliente}} - {{row.nome_ambito}} - {{row.nome_macro_area}}</span>
        </ng-template>
    </p-column>

    <p-column field="activity" frozen="true" header="Attività">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.nome_attivita}}</span>
            <span *ngIf="row.isEditable">
                <p-dropdown [options]="lst_attivita" [(ngModel)]="row.id_attivita" required="true" appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column field="deliverable" frozen="true" header="Tipo Deliverable" [editable]="isEditable">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.nome_tipo_deliverable}}</span>
            <span *ngIf="row.isEditable">
                    <p-dropdown [options]="lst_deliverable" [(ngModel)]="row.id_tipo_deliverable" required="true" appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [styleClass]="col.cellStyle">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row[col.field].ore}}</span>
            <span *ngIf="row.isEditable" >
                <input type="number" min="0" max="23" class="from-control input inputDay" [(ngModel)]="row[col.field].ore">
            </span>
        </ng-template>
    </p-column>

    

</p-dataTable>

<p-dialog header="Nuova Attività" [(visible)]="displayDialog" appendTo="body" appendTo="body" showEffect="fade" [modal]="true">
    <form [formGroup]="consuntivoForm" (ngSubmit)="checkForm(consuntivoForm) && saveNew()" novalidate>
    <!-- <form name="form" (ngSubmit)="saveNew()" #f="ngForm" novalidate> -->
        <div class="ui-grid ui-fluid" *ngIf="newRowConsuntivo">
            <div class="ui-grid-row">

                <div class="ui-grid-col-12 ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                            <label for="ddl_clienti" [ngStyle]="{'color': isValid('ddl_clienti')}" style="top: -.60em;font-size:12px;">Clienti</label>
                        </span>
                    <p-dropdown id="ddl_clienti" formControlName="ddl_clienti" [options]="lst_clienti" [(ngModel)]="newRowConsuntivo.id_cliente" 
                        appendTo="body" placeholder="Seleziona Cliente" [autoWidth]="false" [style]="{'width':'100%'}" (onChange)="selectFromCliente('ambito')"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">

                <div class="ui-grid-col-12 ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                        <label for="ddl_ambiti" [ngStyle]="{'color': isValid('ddl_ambiti')}" style="top: -.60em;font-size:12px;">Ambito</label>
                    </span>
                    <p-dropdown id="ddl_ambiti" formControlName="ddl_ambiti" [options]="lst_ambiti" [(ngModel)]="newRowConsuntivo.id_ambito"
                        appendTo="body" placeholder="Seleziona Ambito" [autoWidth]="false" [style]="{'width':'100%'}" [disabled]="isDisabled('ambito')" ></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">

                <div class="ui-grid-col-12 ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                        <label for="ddl_aree" [ngStyle]="{'color': isValid('ddl_aree')}"  style="top: -.60em;font-size:12px;">Macro Area</label>
                    </span>
                    <p-dropdown id="ddl_aree" formControlName="ddl_aree" [options]="lst_aree" [(ngModel)]="newRowConsuntivo.id_macro_area" 
                        appendTo="body" placeholder="Seleziona Area" [autoWidth]="false" [style]="{'width':'100%'}" [disabled]="isDisabled('macro_area')" (onChange)="selectFromCliente('attivita')"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">

                <div class="ui-grid-col-12 ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                        <label for="ddl_attivita" [ngStyle]="{'color': isValid('ddl_attivita')}"  style="top: -.60em;font-size:12px;">Attività</label>
                    </span>
                    <p-dropdown id="ddl_attivita" formControlName="ddl_attivita" [options]="lst_attivita" [(ngModel)]="newRowConsuntivo.id_attivita" 
                        appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}" [disabled]="isDisabled('attivita')"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12 ui-g-12 ui-md-12">
                    <span class="ui-float-label">
                        <label for="ddl_deliverable" [ngStyle]="{'color': isValid('ddl_deliverable')}" style="top: -.60em;font-size:12px; color:#d6d6d6">Deliverable</label>
                    </span>
                    <p-dropdown id="ddl_deliverable" formControlName="ddl_deliverable" [options]="lst_deliverable" [(ngModel)]="newRowConsuntivo.id_tipo_deliverable"
                        appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}" [disabled]="isDisabled('deliverable')"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane">
                <button pButton type="submit" label="Salva"></button>
                <button pButton type="button" (click)="abortNew()" label="Annulla"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog acceptLabel="Elimina" rejectLabel="Annulla" appendTo="body"></p-confirmDialog>
