
:host /deep/ .ui-datatable .ui-datatable-thead > tr > th {
    height: 30px;
    font-size: 12px;
    text-align: center;
    word-wrap: normal;
}
:host /deep/ .ui-datatable .ui-datatable-data > tr > td {
    height: 40px;
    font-size: 12px;
    text-align: center;
}