<section class="containerUtenti">

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="30" placeholder="Filtra utenti">
    </div>
    <p-dataTable [value]="users" emptyMessage="Nessun utente trovato" scrollable="true"  [paginator]="true"
        [rows]="8" [globalFilter]="gb" responsive="true">
        <p-header>
            <div>
                <label style="vertical-align: middle;text-align: center;">Lista Utenti</label>
                <button style="float: left;" pButton (click)=addNewUser() label="Aggiungi Utente"></button>
            </div>
        </p-header>
        <p-column header="Azioni" visible="true" styleClass="editable_col">
            <ng-template let-row="rowData" let-index="rowIndex" pTemplate="user">
                <span style="display: inline-block;">
                        <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="editRow(row, index)"></i>   
                        <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="deleteRow(row, index)"></i>
                    </span>
            </ng-template>
        </p-column>
        <p-column field="nome" header="Nome" [sortable]="true"></p-column>
        <p-column field="cognome" header="Cognome" [sortable]="true"></p-column>
        <p-column field="clienti" header="Clienti">
            <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                <ng-container *ngIf="users[index].clienti != null">
                    <span *ngFor="let c of row.clienti; let i=index">
                        <ng-container *ngIf="c != null && c.cliente != null">
                            {{c.cliente.nome_cliente}}{{i+1 < row.clienti.length ? ', ' : null}}
                        </ng-container>  
                    </span>
                </ng-container>
            </ng-template>
        </p-column>
    </p-dataTable>


    <p-dialog id="dialog" [(header)]="headerUtente" [(visible)]="displayDialog" modal="true" responsive="true" appendTo="body"
        scrollable="true">
        <form [formGroup]="userForm" (ngSubmit)="checkForm(userForm) && saveNew()" novalidate>
            <div class="halfWidth noPaddingLeft">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="text" id="cognome" formControlName="cognome" pInputText [(ngModel)]="newUser.cognome" >
                            <label for="cognome" [ngStyle]="{'color': isValid('cognome')}">Cognome</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                                <input type="text" id="nome" formControlName="nome" pInputText [(ngModel)]="newUser.nome">
                                <label for="nome" [ngStyle]="{'color': isValid('nome')}" >Nome</label>
                           </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="email" id="email" formControlName="email" type="text" pInputText [(ngModel)]="newUser.email">
                            <label for="email" [ngStyle]="{'color': isValid('email')}">Email</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <p-calendar id="dataInizio" formControlName="dataInizio" [(ngModel)]="newUser.data_inizio_validita" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
                            <label for="dataInizio" [ngStyle]="{'color': isValid('dataInizio')}">Data Inizio Validità (dd/mm/aaaa)</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <p-calendar id="dataFine" formControlName="dataFine"   [minDate]="newUser.data_inizio_validita" [(ngModel)]="newUser.data_fine_validita" dateFormat="dd/mm/yy" [showIcon]="true" appendTo="body"></p-calendar>
                            <label for="dataFine" [ngStyle]="{'color': isValid('dataFine')}">Data Fine Validità (dd/mm/aaaa)</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="halfWidth noPaddingRight">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input id="username" formControlName="username"  type="text" pInputText [(ngModel)]="newUser._id">
                            <label for="username" [ngStyle]="{'color': isValid('username')}">Username</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid" *ngIf="userIndex == null">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="password" formControlName="password" id="password"  pInputText [(ngModel)]="newUser.password" >
                            <label for="password" [ngStyle]="{'color': isValid('password')}">Password</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid" *ngIf="userIndex == null">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input type="password" formControlName="confPassword" id="confPassword" pInputText [(ngModel)]="this.confirmPassword">
                            <label for="confPassword" [ngStyle]="{'color': isValid('confPassword')}" >Conferma Password</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <label for="sede" [ngStyle]="{'color': isValid('sede')}" style="top: -.60em;font-size:12px;">Sede</label>
                        </span>
                        <p-dropdown id="sede" formControlName="sede" [options]="sediList" [style]="{'width':'100%'}" placeholder="Seleziona sede"
                            [(ngModel)]="newUser.id_sede">
                        </p-dropdown>

                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                                <label for="admin" style="top: -.60em;font-size:12px; color:#898989">Admin</label>
                            </span>
                        <p-dropdown [ngModelOptions]="{standalone: true}" [options]="admins" [style]="{'width':'100%'}" placeholder="Amm. di Sistema"
                            [(ngModel)]="newUser.isAdmin"></p-dropdown>
                    </div>
                </div>
                <!-- <div class="ui-g ui-fluid">
                    <p-multiSelect class="ui-g-12 ui-md-12" [options]="clientiComboBox" [(ngModel)]="selectedClients" [panelStyle]="{minWidth:'12em'}"
                        defaultLabel="Seleziona cliente" maxSelectedLabels="10" scrollable="false">
                    </p-multiSelect>
                </div> -->
            </div>
            <div style="clear:both;">
                <p-dataTable [value]="clientiObject" [immutable]="false" emptyMessage="Nessun cliente trovato" scrollable="true" [style]="{'width':'60%'}"
                    scrollHeight="200px">
                    <p-header>
                        <div>
                            <button style="float: left;" pButton type="button" icon="fa fa-plus" (click)="addCliente()" label="Aggiungi Cliente"></button>
                            <label style="vertical-align: middle;text-align: center;">Lista Clienti</label>
                        </div>
                    </p-header>
                    <p-column field="isEditable" header="Azioni" visible="true" styleClass="editable_col">
                        <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
                            <span *ngIf="!row.isEditable">
                                <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="editCliente(row,index)"></i>
                                <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="deleteClientRow(row,index)"></i>
                            </span>
                            <span *ngIf="row.isEditable">
                                <i class="fa fa-floppy-o conferma" aria-hidden="true" (click)="saveEditCliente(row,index)"></i>
                                <i class="fa fa-minus annulla" aria-hidden="true" (click)="abortEditCliente(row,index)"></i>
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column field="clienti" header="Cliente">
                        <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                            <!-- #clienti="ngModel" name="clienti" required [ngStyle]="{'color': isValid(f.submitted && !clienti.valid)}" -->
                            <span *ngIf="!row.isEditable">{{row.cliente.nome_cliente}}</span>
                            <span *ngIf="row.isEditable">
                                <p-dropdown formControlName="idCliente" [options]="clientiComboBox" [autoWidth]="false" [(ngModel)]="row.cliente._id" [style]="{'width':'100%'}"
                                appendTo="body" placeholder="Seleziona cliente"></p-dropdown>
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column field="profilo" header="Profilo">
                        <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                            <!-- #clienti="ngModel" name="clienti" required [ngStyle]="{'color': isValid(f.submitted && !clienti.valid)}" -->
                            <span *ngIf="!row.isEditable">{{row.profilo}}</span>
                            <span *ngIf="row.isEditable">
                                <p-dropdown formControlName="profiloCliente" [options]="profili" [(ngModel)]="row.profilo" required="true" [autoWidth]="false"
                                [style]="{'width':'100%'}" required="true" appendTo="body" placeholder="Seleziona profilo"></p-dropdown>
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column field="data_inizio_validita_cliente" header="Data Inizio">
                        <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                            <span *ngIf="!row.isEditable">{{row.data_inizio_validita_cliente | date:'dd/MM/yy'}}</span>
                            <span *ngIf="row.isEditable">
                                <p-calendar formControlName="dataInizioCliente" placeholder="Data Inizio (dd/mm/aa)" [inputStyle]="{'width':'90%'}" [(ngModel)]="row.data_inizio_validita_cliente"
                                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [showIcon]="true" appendTo="body"></p-calendar>
                            </span>
                            <!-- [minDate]="minClientDate[index] | date:'dd/mm/yy'" [maxDate]="maxClientDate[index]"  -->
                        </ng-template>
                    </p-column>
                    <p-column field="data_fine_validita_cliente" header="Data Fine">
                        <ng-template let-row="rowData" let-index="rowIndex" pTemplate="body">
                            <span *ngIf="!row.isEditable">{{row.data_fine_validita_cliente | date:'dd/MM/yy'}}</span>
                            <span *ngIf="row.isEditable">
                                <p-calendar formControlName="dataFineCliente" placeholder="Data Fine (dd/mm/aa)" [inputStyle]="{'width':'90%'}" [(ngModel)]="row.data_fine_validita_cliente"
                                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [showIcon]="true" appendTo="body"></p-calendar>
                            </span>
                            <!-- [minDate]="minClientDate[index] | date:'dd/mm/yy'" [maxDate]="maxClientDate[index]"  -->
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane">
                    <button pButton type="submit" label="Salva"></button>
                    <button pButton type="button" (click)="abortNew()" label="Annulla"></button>
                </div>
            </p-footer>
        </form>
    </p-dialog>

    <p-confirmDialog acceptLabel="Elimina" rejectLabel="Annulla" appendTo="body"></p-confirmDialog>

</section>