<section class="login loginStatic">

    <div class="loginContent left">
        <h1 class="loginHeading">Vuoi accedere?</h1>
        <p class="loginCopy">Benvenuto! Vuoi accedere alla tua area dedicata per poter visionare o compilare i tuoi rapportini? Clicca sul bottone
            per poter effettuare l'accesso con le tue credenziali aziendali.</p>
        <button type="button" class="btn btnSecondary signin">Area personale</button>
    </div>

    <div class="loginContent right">
        <h1 class="loginHeading">Non riesci ad accedere?</h1>
        <p class="loginCopy">Hai dimenticato nome utente o password? Clicca sul bottone per poter accedere all'area dedicata al recuperaro dei
            dati di sensibili. Compilati i dati, riceverai le tue credenziali all'indirizzo email indicato.</p>
        <button type="button" class="btn btnSecondary reset">Recupero dati</button>
    </div>

    <div class="login loginSliding">

        <div class="loginContent signin">
            <h1 class="loginHeading">Benvenuto</h1>
            <div id="singin">

                <!-- <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate> -->
                <form [formGroup]="loginForm" (ngSubmit)="checkForm(loginForm) && login()" novalidate>
                                
                    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" placeholder="Nome utente" class="form-control input inputEmail" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" placeholder="Password" class="form-control input inputPassword" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div> -->
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-12">
                            <span class="ui-float-label">
                                    <input formControlName="username"  type="text" pInputText [(ngModel)]="model.username">
                                    <label for="username" [ngStyle]="{'color': isValid('username')}">Nome Utente</label>
                                </span>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-12">
                            <span class="ui-float-label">
                                    <input type="password" formControlName="password" pInputText [(ngModel)]="model.password" >
                                    <label for="password" [ngStyle]="{'color': isValid('password')}">Password</label>
                                </span>
                        </div>
                    </div>
                    <div>
                        <button [disabled]="loading" class="btn btn-primary btnPrimary">Login</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </div>
                </form>

            </div>
        </div>

        <div class="loginContent reset">
            <h1 class="loginHeading">Recupero dati</h1>
                    <div id="reset" class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                                <input id="email" type="text" pInputText>
                                <label for="email" [ngStyle]="{'color': isValid('email')}">Email</label>
                            </span>
                    </div>
                <button class="btn btnPrimary request">Procedi</button>
        </div>

        <div class="loginContent success">
            <h1 class="loginHeading">Grazie mille</h1>
            <div id="success">
                <p>La sua richiesta è inoltrata con successo.</p>
                <p> A breve riceverà un'email contenente le istruzioni da seguire.</p>
            </div>
        </div>

    </div>

</section>