<section class="consuntivazioneContainer">

    <user-list></user-list>

    <user-selected></user-selected> 

    <section class="riassuntoMesi">
        <div class="riassuntoSection">
            <h1><i class="fa fa-calendar" aria-hidden="true"></i> Anno</h1>
            <div class="selectContainer">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                <input placeholder="Seleziona anno" class="date" maxlength="4" pattern="[0-9]" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));" type="text">
                <ul class="previusYear" style="display: none;">
                    <li>2017</li>
                    <li>2016</li>
                    <li>2015</li>
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="addMese">
        Aggiungi mese
        <button class="btn btnPrimary aggiungiMese">Aggiungi mese</button>
    </section>

</section>

