<section class="consuntivazioneContainer">
   <user-list class="searchUser" *ngIf ="!selected&&isAdmin" (userSelected)="selectUser($event)" ></user-list>
    <user-detail class="userSelected" *ngIf="selected||!isAdmin" [userSelected]="this.userSelected" [userLogged]="this.userLogged" (userChanged)="changeUser($event)"></user-detail> 
   
   <!--<user-list class="selectUser" *ngIf="isAdmin" (userSelected)="selectUser($event)" ></user-list>
   <user-detail class="userDetail" [userSelected]="this.userSelected" [userLogged]="this.userLogged" (userChanged)="changeUser($event)"></user-detail> 
   -->
</section>

