<p-dataTable [value]="consuntivi" scrollable="true" frozenWidth="470px" unfrozenWidth="calc( 100% - 470px)"   columnResizeMode="fit" [style]="{'margin-top':'30px'}">
    <p-header>
        <div>{{monthSelected}}/{{yearSelected}}</div>
    </p-header>
    <p-column field="isEditable" header="" frozen="true" [editable]="isEditable" [style]="{'width':'30px','overflow':'visible'}">
        <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
            <span *ngIf="!row.isEditable">
                <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="edit(row,index)"></i>
                <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="delete(row,index)"></i>
            </span>
            <span *ngIf="row.isEditable">
                <i class="fa fa-floppy-o conferma" aria-hidden="true" (click)="saveEdit(row,index)"></i>
                <i class="fa fa-minus annulla" aria-hidden="true" (click)="abortEdit(row,index)"></i>
            </span>
        </ng-template>
    </p-column>
   
    <p-column frozen="true" header="Cliente/Ambito/Area" [editable]="isEditable" >
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row.client}} - {{row.ambito}} - {{row.area}}</span>
        </ng-template>
    </p-column>

    <p-column field="activity" frozen="true" header="Attività">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.activity}}</span>
            <span *ngIf="row.isEditable">
                <p-dropdown [options]="lst_attivita" [(ngModel)]="row.activity" required="true" appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column field="deliverable" frozen="true" header="Tipo Deliverable" [editable]="isEditable" >
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.deliverable}}</span>
            <span *ngIf="row.isEditable">
                    <p-dropdown [options]="lst_deliverable" [(ngModel)]="row.deliverable" required="true" appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width':'20px', 'overflow':'inherit'}">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row[col.field]}}</span>
            <span *ngIf="row.isEditable">
                <input class="inputDay" type="text" [(ngModel)]="row[col.field]">
            </span>
        </ng-template>
    </p-column>

    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton class="btn btn-primary btnPrimary" style="float:left" (click)="showDialogToAdd()" label="Add">
                Aggiungi        
            </button>
        </div>
    </p-footer>

</p-dataTable>

<p-dialog header="Nuova Attività" [(visible)]="displayDialog" appendTo="body" [responsive]="true" appendTo="body" showEffect="fade"
    [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newConsuntivo">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_cliente">Cliente</label></div>
            <div class="ui-grid-col-8">
                    <p-dropdown [options]="lst_clienti" [(ngModel)]="newConsuntivo.id_cliente" required="true" appendTo="body" placeholder="Seleziona Cliente" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_ambito">Ambito</label></div>
            <div class="ui-grid-col-8"><p-dropdown [options]="lst_ambiti" [(ngModel)]="newConsuntivo.id_ambito" required="true" appendTo="body" placeholder="Seleziona Ambito" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_macro_area">Macro Area</label></div>
            <div class="ui-grid-col-8">
               <p-dropdown [options]="lst_aree" [(ngModel)]="newConsuntivo.id_macro_area" required="true" appendTo="body" placeholder="Seleziona Area" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_attivita">Attività</label></div>
            <div class="ui-grid-col-8">
               <p-dropdown [options]="lst_attivita" [(ngModel)]="newConsuntivo.id_attivita" required="true" appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_tipo_deliverable">Deliverable</label></div>
            <div class="ui-grid-col-8">
                <p-dropdown [options]="lst_deliverable" [(ngModel)]="newConsuntivo.id_tipo_deliverable" required="true" appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton class="btn btn-primary btnPrimary" (click)="saveNew()" label="Save">Salva</button>
            <button type="button" pButton class="btn btn-primary btnPrimary" (click)="abortNew()" label="Abort">Annulla</button>
        </div>
    </p-footer>
</p-dialog>