<p-dataTable [value]="consuntivi" scrollable="true" frozenWidth="470px" unfrozenWidth="calc( 100% - 470px)"   columnResizeMode="fit" [style]="{'margin-top':'30px'}">
    
    <p-header>
        <div>{{monthSelected}}/{{yearSelected}}</div>
    </p-header>
    <p-column field="isEditable" header="" frozen="true" [editable]="isEditable" [style]="{'width':'30px','overflow':'visible'}">
        <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
            <span *ngIf="!row.isEditable">
                <i class="fa fa-pencil-square-o modifica" aria-hidden="true" (click)="edit(row,index)"></i>
                <i class="fa fa-trash-o elimina" aria-hidden="true" (click)="delete(row,index)"></i>
            </span>
            <span *ngIf="row.isEditable">
                <i class="fa fa-floppy-o conferma" aria-hidden="true" (click)="saveEdit(row,index)"></i>
                <i class="fa fa-minus annulla" aria-hidden="true" (click)="abortEdit(row,index)"></i>
            </span>
        </ng-template>
    </p-column>
   
    <p-column frozen="true" header="Cliente/Ambito/Area" [editable]="isEditable" >
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row.id_cliente}} - {{row.id_ambito}} - {{row.id_area}}</span>
        </ng-template>
    </p-column>

    <p-column field="activity" frozen="true" header="Attività">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.id_attivita}}</span>
            <span *ngIf="row.isEditable">
                <p-dropdown [options]="lst_attivita" [(ngModel)]="row.id_attivita" required="true" appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column field="deliverable" frozen="true" header="Tipo Deliverable" [editable]="isEditable" >
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row.id_tipo_deliverable}}</span>
            <span *ngIf="row.isEditable">
                    <p-dropdown [options]="lst_deliverable" [(ngModel)]="row.id_tipo_deliverable" required="true" appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </span>
        </ng-template>
    </p-column>

    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width':'20px', 'overflow':'inherit'}">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <span *ngIf="!row.isEditable">{{row[col.field].ore}}</span>
            <span *ngIf="row.isEditable">
                <input type="number" min="0" max="23" class="from-control input inputDay" type="text" [(ngModel)]="row[col.field].ore">
            </span>
        </ng-template>
    </p-column>

    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton class="btn btn-primary btnPrimary" style="float:left" (click)="showDialogToAdd()" label="Add">
                Aggiungi        
            </button>
        </div>
    </p-footer>

</p-dataTable>

<p-dialog header="Nuova Attività" [(visible)]="displayDialog" appendTo="body" appendTo="body" showEffect="fade" [modal]="true">
    <form name="form" (ngSubmit)="f.form.valid && saveNew()" #f="ngForm" novalidate>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newRowConsuntivo">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_cliente">Cliente</label></div>
            <div class="ui-grid-col-8">
                    <p-dropdown #ddl_clienti name="ddl_clienti" [options]="lst_deliverable" [(ngModel)]="newRowConsuntivo.id_cliente" required="true" appendTo="body" placeholder="Seleziona Cliente" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
                    <div *ngIf="f.submitted && !ddl_clienti.valid" class="alert alert-danger">Clienti is required</div>
                </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_ambito">Ambito</label></div>
            <div class="ui-grid-col-8">
                <p-dropdown #ddl_ambiti name="ddl_ambiti" [options]="lst_ambiti" [(ngModel)]="newRowConsuntivo.id_ambito" required="true" appendTo="body" placeholder="Seleziona Ambito" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
                <div *ngIf="f.submitted && !ddl_ambiti.valid" class="help-block">Ambiti is required</div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_macro_area">Macro Area</label></div>
            <div class="ui-grid-col-8">
               <p-dropdown #ddl_aree name="ddl_aree" [options]="lst_aree" [(ngModel)]="newRowConsuntivo.id_macro_area" required="true" appendTo="body" placeholder="Seleziona Area" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
               <div *ngIf="f.submitted && !ddl_aree.valid" class="help-block">Area is required</div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_attivita">Attività</label></div>
            <div class="ui-grid-col-8">
               <p-dropdown #ddl_attivita name="ddl_attivita" [options]="lst_attivita" [(ngModel)]="newRowConsuntivo.id_attivita" required="true" appendTo="body" placeholder="Seleziona attività" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
               <div *ngIf="f.submitted && !ddl_attivita.valid" class="help-block">Attività is required</div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_tipo_deliverable">Deliverable</label></div>
            <div class="ui-grid-col-8">
                <p-dropdown #ddl_deliverable name="ddl_deliverable" [options]="lst_deliverable" [(ngModel)]="newRowConsuntivo.id_tipo_deliverable" required="true" appendTo="body" placeholder="Seleziona deliverable" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
                <div *ngIf="f.submitted && !ddl_deliverable.valid" class="help-block">Deliverable is required</div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button pButton class="btn btn-primary btnPrimary" label="Save">Salva</button>
            <button type="button" pButton class="btn btn-primary btnPrimary" (click)="abortNew()" label="Abort">Annulla</button>
        </div>
    </p-footer>
    </form>
</p-dialog>