.gestioneClienti {
    position: relative;
    height: 50px;
}
.clientCustomTitle h1 {
    color: #666;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    left: 0;
    font-size: 0.8rem;
    font-weight: normal;
    user-select: none;
}