/*Inizio override primeng.css*/
:host ::ng-deep .ui-calendar .ui-calendar-button {
    background-color: #b10022 !important;
    border: 1px solid #b10022;   
}

:host ::ng-deep .ui-calendar .ui-calendar-button:enabled:hover, .ui-calendar .ui-calendar-button:focus {
    border-left: 0 none;
    /*Modifica Davide Leone*/    
    background-color: #7C021A;
    border-color: #7C021A; 
    /*Modifica Davide Leone*/
} 

:host ::ng-deep .ui-button .ui-button-text { 
    /*Modifica Davide Leone*/ 
     border: 1px solid #b10022;   
     background-color: #b10022; 
    /*Modifica Davide Leone*/
}

:host ::ng-deep .ui-button.ui-button-info.ui-state-default{
    /*Modifica Davide Leone*/    
    background-color: #b10022;
    border: 1px solid #b10022;   
    /*Modifica Davide Leone*/
}



:host ::ng-deep .ui-splitbutton.ui-button-info .ui-button.ui-state-default {
    /*Modifica Davide Leone*/    
    background-color: #b10022;
    border-color: #b10022; 
    /*Modifica Davide Leone*/
}

:host ::ng-deep .ui-fluid .ui-datepicker-buttonbar button {
    /*Modifica Davide Leone*/    
    background-color: #b10022;
    border-color: #b10022; 
    /*Modifica Davide Leone*/
}

:host ::ng-deep .ui-button{
    /*Modifica Davide Leone*/    
    background-color: #b10022;
    border: 1px solid #b10022;   
    /*Modifica Davide Leone*/
}

:host ::ng-deep .ui-paginator .ui-paginator-page.ui-state-active {
    background: #b10022;
    color: #ffffff;
    border-color: #b10022;
}

:host ::ng-deep .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
    display: inline-block;
    padding: .125em .375em;
    margin-left: .063em;
    margin-right: .063em;
    text-decoration: none;
}


:host ::ng-deep div.ui-datatable.ui-widget.ui-datatable-reflow.ui-datatable-scrollable {
    font-size: 14px;
}


:host ::ng-deep .ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    border: 1px solid #b10022;
    color: #FFFFFF;
    background: #b10022;
    transition: background-color .2s;
}

:host ::ng-deep .ui-button {
    border: 1px solid #b10022 !important; 
    color: #FFFFFF !important;
    background: #b10022 !important;
    transition: background-color .2s !important;

}
:host ::ng-deep .ui-calendar button  {
    border: 1px solid #b10022 !important; 
    color: #FFFFFF !important;
    background: #b10022 !important;
    transition: background-color .2s !important;

}
