<section class="containerUtenti">
    <userGrid [userLogged]="this.userLogged"></userGrid>
    <userForm  class="userForm" [saved]="this.saved" [userDaModificare]="this.userDaModificare" [showUserSection]=this.showUserSection (showClientGrid)="openClientGrid($event)" (dismissClientGrid)="closeClientGrid($event)"></userForm>
    <clientGrid class="clientGrid" [showUserSection]=this.showUserSection [showClientGrid]="this.showClientGrid"></clientGrid>

   <section class="salvaCliente" *ngIf="this.showUserSection">
    <button type="button" class="btn btnPrimary salva" (click)="salva()">Salva</button>
   </section>    
</section>

