<section class="containerUtenti">
    <userGrid [saved]="this.saved" [userLogged]="this.userLogged" (showUserForm)="openUserForm($event)" (dismissUserForm)="closeUserForm($event)"></userGrid>
    <userForm  class="userForm" [saved]="this.saved" [showUserSection]=this.showUserSection (showClientGrid)="openClientGrid($event)" (dismissClientGrid)="closeClientGrid($event)"></userForm>
    <clientGrid class="clientGrid" [showUserSection]=this.showUserSection [showClientGrid]="this.showClientGrid"></clientGrid>

   <section class="salvaCliente" *ngIf="this.showUserSection">
    <button type="button" class="btn btnPrimary salva" (click)="salva()">Salva</button>
   </section>    
</section>

