@import url("css/librerie/font-awesome.css"); 
@import url("css/_font.css"); 
@import url("css/_common.css"); 
@import url("css/headerBasic.css"); 

.main-container {
	margin-top: 70px;
}

.main-header{
	height: 100px;
}

.navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}


