<section class="clientiContainer">
    <section class="gestioneClientiAssociabili">
        <div class="clientiAssociabiliCustomTitle" (click)="openClientGrid()">
            <h1><i class="fa fa-handshake-o" aria-hidden="true"></i> Aggiungi Cliente</h1>
            <h1 class="toggleRight gestioneClienteAss active"><i class="fa fa-arrow-down" aria-hidden="true"></i></h1>
        </div>
    </section>

    <section class="listaClientiAssociabili">
        <ul>
            <li *ngFor="let cliente of clienti">
                <div class="clienteAssociablie">
                    <i class="fa fa-building-o" aria-hidden="true"></i> {{cliente._id}}
                </div>
                <div class="actionClienteAssociabile">
                    <div>
                        <i class="fa fa-pencil-square-o modifica" aria-hidden="true"></i>
                        <i class="fa fa-trash-o elimina" aria-hidden="true"></i>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>